.git
.gitignore
.env
.env.*
!.env.example

vendor/
node_modules/
frontend/node_modules/
frontend/dist/

storage/logs/
storage/framework/sessions/
storage/framework/views/
storage/framework/cache/data/
storage/*.key

bootstrap/cache/*.php

public/storage
public/hot
public/build

*.log
.DS_Store
Thumbs.db

tests/
docker/8.0/
docker/8.1/
docker/8.2/
docker/8.3/
docker/8.5/
docker/mariadb/
docker/mysql/

README.md
phpunit.xml
webpack.mix.js
